#container
    {
        width:90%;
        height:99%;
        background-color:silver;
        margin-left: 5%;
    }
#logo
    {
        width:100%;
        height:10%;
        background-color:grey;              
    }
#nav
    {
        width:10%;
        height:83%;
        background-color:orange;
        float: left;
    }
#content
    {
        width:80%;
        height:83%;
        background-color:yellow;
        float: left;
    }
#ad
    {
        width:10%;
        height:83%;
        background-color:red;
        float: left;
    }
#footer
    {
        width:100%;
        height:7%;
        background-color:green;
        float: left;
    }	
